@import '~antd/dist/antd.css';

#root, body, html {
    height: 100%;
    background-color: #5f7bb8;
}

.main-container {
    width: 100%;
    height: 100%;
}

.content-col {
    margin: 2.5em 2.5em 2.5em 2.5em;
}

.container-content {
    width: 25em;
    border-radius: 10px;
}